@model IEnumerable<quizExamen.Models.Question>

@{
    ViewData["Title"] = "AfficherQuestions";
}

<h1>@ViewBag.Message</h1>

@if (Model != null)
{
<form method="post" action="/Tests/Post">
    @foreach (var item in Model)
    {
        <fieldset id="@item.QuestionId">
            <legend> @Html.DisplayFor(modelItem => item.Text) </legend>
            @foreach (ItemOption element in @ViewBag.listeOptions)
            {
                if (element.QuestionId == item.QuestionId)
                {
                    <input type="radio" name="@item.QuestionId" value="@element.OptionId"> <label for="@item.QuestionId">@element.Text </label> <br />
                }

            }
        </fieldset>
    }
    <input type="submit" value="Soumettre" class="btn btn-primary" asp-action="Index" />
    <button class="btn btn-secondary" asp-action="Index">Annuler</button>
</form>

}