@model IEnumerable<quizExamen.Models.Question>


@{
    ViewData["Title"] = "AfficherResultat";
}
<h1>@ViewBag.Message1</h1>
<h2>@ViewBag.Message2</h2>

@if (Model != null)
{
    <form method="post" action="/Tests/Post">
        @foreach (var item in Model)
        {
            <fieldset id="@item.QuestionId">
                <legend> @Html.DisplayFor(modelItem => item.Text) </legend>
                @foreach (ItemOption element in @ViewBag.listeOptions)
                {
                    bool check = false;
                    string color = "";
                    if (element.IsRight)
                    {
                        color = "green";
                    }
                    foreach (Answer elem in ViewBag.listeAnswers)
                    {
                        if(elem.OptionId == element.OptionId)
                        {
                            check = true;
                        }
                    }
                    if(!check && color!= "green")
                    {
                        color = "red";
                    }
                    if (element.QuestionId == item.QuestionId)
                    {

                        <input type="radio" name="@item.QuestionId" value="@element.OptionId" checked="@check" style=" border-color: @color"> <label style="color: @color" for="@item.QuestionId">@element.Text </label> <br />
                    }

                }
            </fieldset>
        }
        <button class="btn btn-secondary" asp-action="Index">Retour</button>
    </form>

}