@model IEnumerable<quizExamen.Models.Question>


@{
    ViewData["Title"] = "AfficherResultat";
}
<h2 style="color:blue; text-align:center">@ViewBag.Message1</h2>
<h3 style="color:lawngreen; text-align:center">@ViewBag.Message2</h3>

@if (Model != null)
{
<form method="post" action="/Tests/Post">
    @foreach (var item in Model)
    {
        <fieldset id="@item.QuestionId">
            <legend> @Html.DisplayFor(modelItem => item.Text) </legend>
            @foreach (ItemOption element in @ViewBag.listeOptions)
            {
                bool check = false;
                string color = "";
                if (element.IsRight)
                {
                    color = "green";
                }
                foreach (Answer elem in ViewBag.listeAnswers)
                {
                    if (elem.OptionId == element.OptionId)
                    {
                        check = true;
                    }
                }
                if (check && color != "green")
                {
                    color = "red";
                }
                if (element.QuestionId == item.QuestionId)
                {

                    <input type="radio" name="@item.QuestionId" value="@element.OptionId" checked="@check" style=" border-color: @color"> <label style="color: @color" for="@item.QuestionId">@element.Text </label> <br />
                }

            }
        </fieldset>
    }
    <div class="row" style="margin-left:40%;">
        <button class="btn btn-secondary" asp-action="Index">Retour</button>
        </div>
</form>

}